/*
color: #2f4f4f;
color: #efefef;
font-size: 10px, 10.1em, 10%;
line-height: 1.7px;
font-size: 32px;


border: 1px solid;
Border Radius is denoting a rounded border
border-radius: 10px;

background-image: -webkit-linear-gradient(#FFD194, #BC1324);

line-height: 76px;

"http://cdn.wallpapersafari.com/22/40/XGVnk2.jpg"
*/
div {
	text-align: center;
}

body {
	background-color: #efefef;
	font-family: arial;
	background-image: url("https://s-media-cache-ak0.pinimg.com/564x/45/1d/2f/451d2fd9ae5c42ffeb8c15dc1475d4f0.jpg");
}

a {
	text-decoration: none;
	color: #FFF;
}

.navigate a:hover {
	background-color: #99DEF1;	
}
p {
	font-family: Georgia;
}
.headerPic {
  border: 1px solid;
  background-image: url(http://www.50-best.com/images/animal_wallpapers/brown_bears.jpg);
  background-attachment: fixed;
  height: 800px;
  background-position: center center;
  border-radius: 10px;
  background-size: cover;
}


.navigate {
	/*
	display: block;
	background-color: #403F3D;
	border-radius: 10px;
	border: 1px solid;
	*/
  	overflow-y: auto;
  	position: fixed;
  	left: 0;
  	top: 0;
  	text-align: center;
  	width: 100%;
  	z-index: 10000;
}

.header {
	font-family: 'Amatic SC', 'Abel', Verdana, Garamond, sans-serif;
	font-size: 50px;
 	font-weight: bolder;
 	position: relative;
 	display: inline;
 	margin: 0;
 }
.footer {
	font-size: 8px;
	font-family: Verdana, serif;
	text-align: left;

}
.body {
	background-color: #211209;
	display: block;
	text-align: center;
	border-radius: 10px;
	border: 2px solid;
	padding: 5px 5px 5px 5px;
	color: #FFFFFF;
	width: 60%;
	text-align: center;
	margin: 0 auto;
}
a:visited {
	text-decoration: underline;
	color: #FFFFFF;

}
li {
  color: #FFFFFF;
  display: inline-block;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 16px 20px;
  text-transform: uppercase;
}
.learnMore:hover {
	color: #99DEF1;
}
.learnMore {

}
.describe {


}
h2 {
	font-family: "railway", sans-serif;
	font-weight: 300;

}
.navigate ol li:nth-child(2) {
	font-style: "Amatic SC", "Abel", Verdana, Garamond, sans-serif;
	font-size: 26px;
}
.fontAmatic {
	font-style: "Amatic SC", Verdana, sans-serif;

}